
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@model UserModel

<form method="post" asp-action="Index" class="p-3">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="UserName">Kullanıcı Adı</label>
        <input class="form-control" asp-for="UserName">
    </div>
    <div class="form-group">
        <label asp-for="Password">Şifre</label>
        <input class="form-control" asp-for="Password">
    </div>
    <div class="form-group">
        <label asp-for="Name">Ad</label>
        <input class="form-control" asp-for="Name">
    </div>
    <div class="form-group">
        <label asp-for="SurName">Soyad</label>
        <input class="form-control" asp-for="SurName">
    </div>
    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input class="form-control" asp-for="Email">
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber">Telefon No</label>
        <input class="form-control" asp-for="PhoneNumber">
    </div>
    <div class="form-group">
        <label asp-for="Adress">Adress</label>
        <input class="form-control" asp-for="Adress">
    </div>

    <div class="form-group mt-1">
        <button type="submit" class="btn btn-block btn-info">Güncelle</button>
    </div>
    <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
</form>