<!DOCTYPE html>
<html lang="tr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="seo & digital marketing">
    <meta name="keywords" content="marketing,digital marketing,creative, agency, startup,promodise,onepage, clean, modern,seo,business, company">
    <meta name="author" content="Themefisher.com">

    <title>Blog App</title>
    <!-- bootstrap.min css -->
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- fontawasome Css -->
    <link href="~/fontAwesome/css/all.min.css" rel="stylesheet" />
    <link href="~/css/animate.css" rel="stylesheet" />
    <link href="~/css/icofont.css" rel="stylesheet" />
    <!-- Main Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet" />
</head>

<body>
    @*data-spy="scroll" data-target=".fixed-top">*@

    <!--Menü-->
    @await Component.InvokeAsync("Menu")

    <!--MAIN HEADER AREA END -->

    <section class="section blog-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="row">
                        @RenderBody()
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="row">
                        @await Component.InvokeAsync("CategoryList")
                        @await Component.InvokeAsync("GetLastFive")
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!--  FOOTER AREA START  -->
    @*<section id="footer" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-8 col-md-8">
                    <div class="footer-widget footer-link">
                        <h4>We concern about you<br> to grow business rapidly.</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore ipsam hic non sunt recusandae atque unde saepe nihil earum voluptatibus aliquid optio suscipit nobis quia excepturi vel quod, iure quae.</p>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-md-4">
                    <div class="footer-widget footer-link">
                        <h4>About</h4>
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Service</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Testimonials</a></li>
                            <li><a href="#">Blog</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-sm-6 col-md-6">
                    <div class="footer-widget footer-link">
                        <h4>Quick Links</h4>
                        <ul>
                            <li><a href="#">How it Works</a></li>
                            <li><a href="#">Support</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Report Bug</a></li>
                            <li><a href="#">License</a></li>
                            <li><a href="#">Terms & Condition</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-6">
                    <div class="footer-widget footer-text">
                        <h4>Our location</h4>
                        <p class="mail"><span>Mail:</span> promdise@gmail.com</p>
                        <p><span>Phone :</span>+202-277-3894</p>
                        <p><span>Location:</span> 455 West Orchard Street Kings Mountain, NC 28086,NOC building</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer-copy">
                        © 2018 Promodise inc. All Rights Reserved.
                    </div>
                </div>
            </div>
        </div>
    </section>*@
    <!--  FOOTER AREA END  -->
    <!--
    Essential Scripts
    =====================================-->
    <!-- Main jQuery -->
    <script src="~/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4.3.1 -->
    <script src="~/jquery/popper.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/jquery.waypoints.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/custom.js"></script>
    @RenderSection("JavaScript", false)
</body>
</html>